@model IEnumerable<TCC_Sistema_Cliente_Jogos_2022.Models.Produto>

@{
    ViewBag.Title = "Index";
}
<style>
    #textoBoxAuxHome {
        font-size: 12px;
        margin-top: 16px;
    }

    .boxHome {
        background-color: #EDA0C5;
        padding: 3% 5%;
        color: #270027;
        margin-top:-5%;
    }

    #BoxHomeEscuro {
        background-color: #270027;
        color:#fff;
    }
</style>
<div id="TodaHome">


    @if (TempData["MensagemAviso"] != null)
    {
        <div class="alert alert-success">
            @TempData["MensagemAviso"]
        </div>
    }

    <img src="~/Image/BEM-VINDO À LOJA GAME WAVE!.png" width="100%" height="100%" />

    <div class="container aling-center">
        <div class="row">
            <div class="col-md-4 boxHome">
                <h3 class="group inner list-group-item-heading">
                    Novidades
                </h3>

                <p class="lead" id="textoBoxAuxHome">
                    Confira os lançamentos mais recentes aqui na GAME WAVE.
                </p>

                <div class="row">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                </div>
            </div>

            <div class="col-md-4 boxHome" id="BoxHomeEscuro">
                <h3 class="group inner list-group-item-heading">
                    Promoção rapida
                </h3>

                <p class="lead" id="textoBoxAuxHome">
                    Cheque as nossas promoções por tempo limitado!
                </p>

                <div class="row">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                </div>
            </div>

            <div class="col-md-4 boxHome">
                <h3 class="group inner list-group-item-heading">
                    Jogos Free
                </h3>

                <p class="lead" id="textoBoxAuxHome">
                    Após realizar sua primeira compra, resgate um jogo.
                </p>

                <div class="row">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                </div>
            </div>
        </div>
    </div>

    <div class="container aling-center" id="BoxProdHome">
        <h1 class="text-capitalize">
           Catalogo
        </h1>
        <div class="row">
            @foreach (var item in Model)
            {

                <div class="col-sm-3">
                    <tr>
                        <td>
                            @Html.HiddenFor(modelItem => item.CodProd) <br />
                        </td>
                        <td>
                            <a href="@Url.Action("DetalhesProduto", "Produto", new { codprod = item.CodProd})">
                                <img src="@Url.Content(item.ImgCapa)" width="150px" height="150px" />
                            </a>
                        </td>
                        <td>
                            <p class="lead" style=" margin-top: 10%;">
                                R$@Html.DisplayFor(modelItem => item.ProdValor)
                            </p>
                        </td>
                    </tr>
                </div>


            }
        </div>
    </div>

        <img src="~/Image/THE SIMS 4 GRATUITO!.png" id="espaco" />

        <img src="~/Image/BENDY AND THE DARK REVIVAL.jpg" id="espaco" />

        <img src="~/Image/logoMarcasGames.png" id="imgMarcas" />
    </div>
